*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url("food.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#kontakt .kontakt{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#kontakt .kontakt-title{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    color: black;
}

#kontakt .kontakt-items{
    width: 100%;
}

#kontakt .kontakt-item{
    width: 95%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
}

#kontakt .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#kontakt .kontakt-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
    color: black;
}

#kontakt .kontakt-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
    color: black;
}

@media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
